.container {
    
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-areas: "sidebar main";
}

p{
    padding-left: 1em;
}




.table{
    justify-content: center;
}

.cell{
    width: 80px;
}