.container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-areas: "sidebar main";
}

.menu {
    border-right: 1px solid rgb(128, 128, 128, 0.5);
    grid-area: sidebar;
}

.main {
    margin-left: 43px;
    grid-area: main;
    display: flex;
    justify-content: flex-start;
}

.buttonStripBox{
    padding-top: 5px;
}

.buttonStrip{
    padding-top: 5px;
    margin-top: 20px;
    border: 1px solid #c4c9cc;
    display: flex;
    background-color: gainsboro;
    justify-content: flex-start;
    padding: 8;
}



.main {
    width:  2000px;
    margin-left: 43px;
    display: flex;
    justify-content: flex-start;
}

.button{
    justify-self: center;
    padding: 10px;
}

.contacts{
    border: 1px solid black;
}

.filterBox{
    background-color: gainsboro;
    margin-top: 10px;
    padding-bottom: 5;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid rgb(128, 128, 128, 0.5);
}

.checkBox {
    padding-left: 10px;
    padding-bottom: 5px;
}

h4{
    margin-left: 30px;
    padding-left: 30px;
}

.filterBox h4{
    margin-left: 5px;
    padding-left: 5px;
}


p{
    padding-left: 1em;
}

.tables{
    display: flex;
    justify-content: space-evenly;
}

.table{
    height: auto;
    margin-right: 30px;
    padding-right: 30px;
}

.details{
    margin-left: 40px;
    padding-left: ;
}

.table2{
    width: 500px;
    padding-left: 100px;
    margin-left: 100px;
    float: right;
}

.cell{
    width: 60px;
}

.cell2{
    width: 300px;
}